/* Add this CSS to your stylesheet */

.slider-green {
    -webkit-appearance: none;
    appearance: none;
    width: 40%;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider-green:hover {
    opacity: 1;
}

.slider-green::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #0b4b3b; /* Green color */
    cursor: pointer;
    border-radius: 50%;
}

.slider-green::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #0b4b3b; /* Green color */
    cursor: pointer;
    border-radius: 50%;
}
